#conteudo1{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
}

#conteudo2{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 50px;
    z-index: 2;
}

#conteudo3{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 100px;
    z-index: 1;
}