.conteudo01{

    width: 200px;
    height: 200px;
    background: green;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 0;

}

.conteudo02{

    width: 200px;
    height: 200px;
    background: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;

}

.conteudo03{

    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 0;

}