#principal{
    width: 1080px;
    margin: 20px auto;
}

#cabecalho{
    background: gray;
    text-align: center;
    padding: 40px;
}

#lateral-esquerda{
    float: left;
    list-style: none;
    background: lightgray;
    padding: 50px;
    width: 80px;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
}

#conteudo{
    float: right;
    width: 600px;
    padding: 0px 10px 0px 10px;
}

#lateral-direita{
    background: gray;
    float: right;
    width: 260px;
    padding: 10px;
    height: 252px;
}

#rodape{
    text-align: center;
    background: gray;
    clear: both;
}
