#estatico{
  background: black;
  color: white;
  position: static;
}

#relativo{
  background: blue;
  color: white;
  position: relative;
  left: 100px;
}

#absoluto{
  background: yellow;
  color: black;
  position: absolute;
  bottom: 100px;
  left: 50px;
}

#fixo{
  background: green;
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
}
