ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li a{
    background: #f7b600 url("imagens/menu.png") no-repeat left center;
    text-indent: 40px;
    line-height: 40px;
    display: block;
    width: 200px;
    height: 40px;
    text-decoration: none;
}

a:hover, #home #menu .home a,
#sobre #menu .sobre a,
#servicos #menu .servicos a,
#noticias #menu .noticias a,
#contato #menu .contato a
{
    background: #f99200 url("imagens/menu.png") no-repeat right bottom;
    color: #fff;
}
