ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    background: #f7b600 url(images/menu.png) no-repeat;
    text-decoration: none;
    color: black;
    text-indent: 40px;
    line-height: 40px;
}

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home .home a,
#sobre .sobre a,
#servicos .servicos a,
#noticias .noticias a,
#contato .contato a
{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;    
}