body{

    background-image: url(imagens/fundo.png);

}

#navbar{

    background-color: #c5c5b2;
    width: 864px;
    padding: 18px;

}

a{
    text-decoration: none;
    color:  #4b566a;
    font-weight: bold;
    padding: 5px;
}

h2{

    color:  #828271;
    font-size: 1.2em;

}

#conteudo{

    background-color: #E8E8D9;
    width: 880px;
    padding: 10px;

}

#rodape{

    width: 900px;
    font-weight: bold;
    text-align: center;

}

.fotos{

    border: 10px solid #c3c3ae;

}