#container{

    border: 10px solid green;
    background-color: yellow;

}

.conteudo{

    border: 10px solid red;
    background-color: pink;
    float: left;
    margin: 10px;
}


.clear{
    clear: left;
}
