.inline{
  border: 1px solid red;
  display: inline;
}

.block{
  border: 1px solid blue;
  display: block;
}

.inline-block{
  border: 1px solid yellow;
  display: inline-block;
}

.border{
  border: 1px solid green;
}